<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <system.serviceModel>
    <bindings>
      <!-- basicHttpBinding>
        <binding name="siriusPicoEndpointBinding" />
      </basicHttpBinding -->
      <basicHttpBinding>
        <binding name="siriusPicoEndpointBinding" />
      </basicHttpBinding>
    </bindings>
    <!-- client>
      <endpoint address="http://localhost:19410/service/finances/i1/v1/paymentEndpoint"
          binding="basicHttpBinding" bindingConfiguration="siriusPicoEndpointBinding"
          contract="PICOServiceReference.siriusPort" name="siriusPicoEndpoint" />
    </client -->
    <client>
      <endpoint address="http://localhost:8088/mocksiriusPicoEndpointBinding"
          binding="basicHttpBinding" bindingConfiguration="siriusPicoEndpointBinding"
          contract="siriusPort" name="siriusPicoEndpoint" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="siriusPicoEndpointBinding" value ="http://localhost:8088/mocksiriusPicoEndpointBinding" />
  </appSettings>
</configuration>
